.choice-box .label{
	-fx-text-fill : yellow;
	-fx-font-size: 20px;
}

#chooseFile {
	-fx-background-color: black;
	/*-fx-translate-x: 300px;*/
    -fx-border-insets: 10px;
    -fx-border-width: 2px;
    -fx-border-color: yellow;
    -fx-padding: 10;
}

#chooseFile:hover{
	-fx-border-width: 3px;
	-fx-cursor: hand;
}

#handCursor:hover{
	-fx-cursor: hand;
}
}


